<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{../static/html/head.html}"></head>
<body>
<header>
  <nav th:include="~{../static/html/navegacion.html}"></nav>
</header>
<main>
  <div class="vh-100 d-flex justify-content-center align-items-center mt-5">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="border border-3 border-secondary"></div>
          <div class="card bg-white shadow-lg">
            <div class="card-body p-5">
              <form class="mb-3 mt-md-4" th:action="@{/trabajador/actualizar/{idTrabajador}(idTrabajador=${trabajador.getIdTrabajador()})}" th:method="post">
                <h2 class="fw-bold mb-2 text-uppercase">
                  Editar Trabajador
                </h2>
                <div class="mb-3">
                  <label for="run" class="form-label"
                  >Run</label
                  >
                  <input
                          type="text"
                          class="form-control"
                          id="run"
                          placeholder="202590789"
                          required
                          name="run"
                          th:value="${trabajador.getRun()}"
                  />
                </div>
                <div class="mb-3">
                  <label for="nombre" class="form-label"
                  >Nombre</label
                  >
                  <input
                          type="text"
                          class="form-control"
                          id="nombre"
                          placeholder="Joaquin"
                          data-sb-validations="required"
                          name="nombre"
                          th:value="${trabajador.getNombre()}"
                  />
                  <div
                          class="invalid-feedback"
                          data-sb-feedback="name:required"
                  >
                    Nombre es requerido.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="apellido1" class="form-label"
                  >Primer Apellido</label
                  >
                  <input
                          type="text"
                          class="form-control"
                          id="apellido1"
                          placeholder="Baeza"
                          data-sb-validations="required"
                          name="apellido1"
                          th:value="${trabajador.getApellido1()}"
                  />
                  <div
                          class="invalid-feedback"
                          data-sb-feedback="name:required"
                  >
                    Apellido es requerido.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="apellido2" class="form-label"
                  >Segundo apellido (opcional)</label
                  >
                  <input
                          type="text"
                          class="form-control"
                          id="apellido2"
                          placeholder="Sanhueza"
                          name="apellido2"
                          th:value="${trabajador.getApellido2()}"
                  />
                </div>
                <div class="mb-3">
                  <label for="telefono" class="form-label"
                  >Teléfono</label
                  >
                  <input
                          type="tel"
                          class="form-control"
                          id="telefono"
                          placeholder="990876544"
                          required
                          name="telefono"
                          th:value="${trabajador.getTelefono()}"
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label"
                  >Email</label
                  >
                  <input
                          type="email"
                          class="form-control"
                          id="email"
                          placeholder="correo@correo.com"
                          required
                          name="email"
                          th:value="${trabajador.getEmail()}"
                  />
                </div>
                <div class="mb-3">
                  <label for="previsionId" class="form-label">AFP</label>
                  <select class="form-control" id="previsionId" name="previsionId">
                    <option th:each="prevision : ${prevision}"
                            th:value="${prevision.idInstPrevision}"
                            th:text="${prevision.descripcion}"
                            th:selected="${prevision.idInstPrevision == trabajador.instPrevision.idInstPrevision}">
                    </option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="saludId" class="form-label">Institución de Salud</label>
                  <select class="form-control" id="saludId" name="saludId">
                    <option th:each="salud: ${salud}"
                            th:value="${salud.idInstSalud}"
                            th:text="${salud.descripcion}"
                            th:selected="${salud.idInstSalud == trabajador.instSalud.idInstSalud}" >
                    </option>
                  </select>
                </div>
                <div class="d-grid">
                  <button
                          class="btn btn-outline-dark"
                          type="submit"
                  >
                    Editar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer th:include="~{../static/html/footer.html}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>