<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:include="~{../static/html/head.html}">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    </head>
    <body>
        <header th:include="~{../static/html/header.html}"></header>
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        <div class="border border-3 border-secondary"></div>
                        <div class="card bg-white shadow-lg">
                            <div class="card-body p-5">
                                <form class="mb-3 mt-md-4" th:action="@{/usuario/registrar}" th:method="post" onsubmit="return confirmarRegistro()">
                                    <h2 class="fw-bold mb-2 text-uppercase">
                                        Registro Usuario
                                    </h2>
                                    <div class="mb-3">
                                        <label for="run" class="form-label"
                                            >Run</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="run"
                                            placeholder="202590789"
                                            required
                                            name="run"
                                        />
                                    </div>
                                    <div class="mb-3">
                                        <label for="nombre" class="form-label"
                                            >Nombre</label
                                        >
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="nombre"
                                            placeholder="Joaquin"
                                            data-sb-validations="required"
                                            name="nombre"
                                        />
                                        <div
                                            class="invalid-feedback"
                                            data-sb-feedback="name:required"
                                        >
                                            Nombre es requerido.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="apellido1" class="form-label"
                                        >Primer apellido</label
                                        >
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="apellido1"
                                                placeholder="Baeza"
                                                data-sb-validations="required"
                                                name="apellido1"
                                        />
                                        <div
                                                class="invalid-feedback"
                                                data-sb-feedback="name:required"
                                        >
                                            Apellido es requerido.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label"
                                            >Email</label
                                        >
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="email"
                                            placeholder="correo@correo.com"
                                            required
                                            name="email"
                                        />
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label"
                                            >Contraseña</label
                                        >
                                        <input
                                            type="password"
                                            class="form-control"
                                            id="password"
                                            placeholder="*******"
                                            required
                                            name="clave"
                                        />
                                    </div>
                                    <div
                                        class="my-5 d-flex justify-content-center gap-5"
                                    >
                                        <div>
                                            <label
                                                for="empleador"
                                                class="form-label"
                                                >Empleador</label
                                            >
                                            <input
                                                type="radio"
                                                id="empleador"
                                                required
                                                name="perfil.idPerfil"
                                                th:value="2"
                                            />
                                        </div>
                                        <div>
                                            <label
                                                for="contador"
                                                class="form-label"
                                                >Contador</label
                                            >
                                            <input
                                                type="radio"
                                                id="contador"
                                                required
                                                name="perfil.idPerfil"
                                                th:value="3"
                                            />
                                        </div>
                                    </div>
                                    <div class="d-grid">
                                        <button
                                            class="btn btn-outline-dark"
                                            type="submit"
                                        >
                                            Registrar
                                        </button>
                                    </div>
                                </form>
                                <div>
                                    <p class="mb-0 text-center">
                                        Ya tienes una cuenta?
                                        <a
                                            href="/login"
                                            class="text-secondary fw-bold"
                                            >Login</a
                                        >
                                    </p>
                                </div>
                                <div id="mensajeRegistro" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:include="~{../static/html/footer.html}"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
            function confirmarRegistro() {
                // Mostrar ventana de confirmación
                if (confirm('¿Confirma que los datos del nuevo usuario han sido ingresados de forma correcta.?')) {
                    // Mostrar el mensaje de registro exitoso
                    var mensajeRegistro = document.getElementById('mensajeRegistro');
                    mensajeRegistro = alert('Usuario registrado con éxito');
                    mensajeRegistro.style.display = 'block';
                    return true; // Permitir el envío del formulario
                } else {
                    return false; // Cancelar el envío del formulario
                }
            }

        </script>
    </body>
</html>
